pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
tensorflow
nltk
chainlit
langchain
langchain-core
langchain-google-genai
langchain-openai
langchain-anthropic
google-api-python-client
fastapi
uvicorn
python-dotenv
torch
xgboost
lightgbm
catboost